.App {
  text-align: center;
}

.list-group-item{
  font-family: 'Lateef', cursive;
  font-size: 24px;
  
}
.instructions{
  font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 36px;
}

.heading{
  font-family: 'Berkshire Swash', cursive;
}


.footer{
  text-align: center;
  color: crimson;
  font-size: small;
}

